* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

main {
    position: relative;
}
#hero {
    height: 92vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(80%);
}

#hero_heading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #dad7cd;
    font-size: 100px;
    text-align: center;
    width: 100vw;
}

#nav {
    height: 8vh;
    display: flex;
    background-color: #344e41;
    justify-content: space-around;
    align-items: center;
}

#nav a {
    text-decoration: none;
    color: #dad7cd;
    font-size: 16px;
}

#nav h1 {
    color: black;
    font-family: sans-serif;
}

#links {
    display: flex;
    gap: 30px;
}

#ingymsection {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ingym {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 24px;
}

hr {
    width: 90vw;
    margin: auto;
}

#aboutussection{
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutus {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 65vw;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    line-height: 32px;
    text-align: center;
}

#aboutus button {
    height: 50px;
    width: 140px;
    font-size: 18px;
    background-color: #344e41;
    color: #dad7cd;
    border: none;
    border-radius: 4px;
}
#amenities_section {
    display: flex;
    height: 100vh;
}

#amenities {
    width: 50vw;
    background-color: #344e41;
    color: #dad7cd;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#amenities ul {
    margin-top: 20px;
    text-align:left;
    list-style: circle;
    font-size: 20px;
}

#amenities_section img {
    width: 50vw;
    object-fit: cover;
}

#community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 90vh;
}

#community p {
    font-size: 45px;
    font-weight: 600;
}

#community-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100vw;
}

#community-container img {
    height: 280px;
    width: 280px;
    object-fit: cover;
}

#location {
    height: 80vh;
    background-color: #dad7cd;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#visitus p {
    font-weight: 300;
    text-align: center;
    font-size: 22px;
    text-align: center;
}

#visitus h1 {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 12px;
    margin-bottom: 8px;
    text-align: center;
}

footer {
    height: 40vh;
    width: 100vw;
    background-color: #3a5a40;
    color: #dad7cd;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30vw;
    font-size: 18px;
}

#address{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

#email {
    display: flex;
    flex-direction: column;
    gap: 14px;
}