* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    height: 8vh;
    display: flex;
    background-color: #344e41;
    justify-content: space-around;
    align-items: center;
}

#nav a {
    text-decoration: none;
    color: #dad7cd;
    font-size: 16px;
    font-family: 'Quicksand';
}

#nav h1 {
    color: black;
    font-family: sans-serif;
}

#links {
    display: flex;
    gap: 30px;
}

main {
    height: 60vh;
    width: 100vw;
    background-color: #dad7cd;
    color: #344e41;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    font-family: 'Quicksand';
}


main h1 {
    font-size: 62px;
    letter-spacing: 8px;
    font-weight: 500;
    text-align: center;
}

main p {
    width: 45vw;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

section {
    width: 100vw;
    height: 70vh;
    position: relative;
}

section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(55%);
}

section div {
    text-align: center;
    position: absolute;
    z-index: 100;
    color: #dad7cd;
    font-family: 'Quicksand';
    font-size: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

section div h2 {
    margin-bottom: 16px;
    letter-spacing: 8px;
    font-size: 32px;

}

section div ul {
    list-style: none;
    width: 50vw;
}

footer {
    height: 40vh;
    width: 100vw;
    background-color: #3a5a40;
    color: #dad7cd;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30vw;
    font-size: 18px;
}

#address{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

#email {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

#email a {
    color: #dad7cd;
}